.body {
    margin: 0% 15%;
    background-color: white;
}

.header {
    background-color: #2E4053;
}

.title {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.2rem;
    padding-top: 1%;
    padding-left: 3%;
}

.title h5 {
    margin-top: -0.8%;
}

.cont-details {
    color: #E5E7E9;
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 3%;
    padding-bottom: 0.1%;
    margin-top: 1.5%;
    line-height: 1.3;
}

.cont-details a {
    text-decoration: none;
    color: #E5E7E9;
}

.cont-details a:hover {
    color: #AED6F1;
}

.prof-pic {
    float: right;
    padding-right: 3%;
    padding-top: 0.3%;
}

.prof-pic img {
    float: right;
    border-radius: 50%;
    width: 50%;
    margin-top: -64%;
}

.left-bar {
    background-color: #576676;
    width: 25%;
    padding-bottom: 52%;
}

.tech-skill {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #CD6155;
    font-weight: 550;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 11%;
}

.tech-skill-list {
    list-style: none;
    color: #D7DBDD;
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 11%;
    margin-top: 2%;
}

.right-bar {
    float: right;
    margin-top: -94%;
    margin-left: 29%;
}

.car-obj {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
}

.car-obj-desc {
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 5%;
    line-height: 1.1rem;
    letter-spacing: 0.02rem;
}

.proj {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: -1%;
}

.proj-title {
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2%;
    margin-bottom: 1%;
    letter-spacing: 0.02rem;
}

.proj-desc {
    font-size: 0.85rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 5%;
    margin-left: 4%;
    letter-spacing: 0.02rem;
}

.proj-desc li {
    list-style-position: outside;
}

.proj-desc a {
    font-size: 0.85rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.work-exp {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: -1%;
}

.work-exp-detail {
    margin-top: 2%;
    line-height: 1rem;
}

.desg {
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.02rem;
}

.comp {
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.02rem;
    color: #909497;
}

.edu {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: -1%;
}

.edu-detail {
    margin-top: 2%;
    line-height: 1rem;
}

.degg {
    font-size: 0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.02rem;
}

.univ {
    font-size: 0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.02rem;
    color: #909497;
    padding-bottom: 5%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .body {
        margin: 0%;
    }

    .prof-pic img {
        width: 47%;
        margin-top: -60%;
    }
    
    .left-bar {
        padding-bottom: 66%;
    }

    .right-bar {
        margin-top: -113%;
    }
}

@media (max-width: 468px) {
    .body {
        margin: 0%;
    }

    .title h1 {
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
    }

    .title h5 {
        font-size: 0.4rem;
        letter-spacing: 0.1rem;
        line-height: 0.1rem;
    }

    .cont-details {
        font-size: 0.3rem;
    }

    .prof-pic img {
        width: 24%;
        margin-top: -30%;
    }

    .left-bar {
        width: 30%;
        padding-bottom: 20%;
    }

    .tech-skill {
        font-size: 0.4rem;
        line-height: 0.5rem;
    }
    
    .tech-skill-list {
        font-size: 0.3rem;
    }

    .right-bar {
        margin-top: -80%;
        float: none;
        width: 70%;
    }
    
    .car-obj {
        font-size: 0.5rem;
        margin-left: 8%;
        letter-spacing: 0.02rem;
    }
    
    .car-obj-desc {
        font-size: 0.5rem;
        line-height: 0.5rem;
        letter-spacing: 0.01rem;
        margin-left: 8%;
    }

    .hr {
        margin-top: -5%;
        margin-bottom: -5%;
        margin-left: 8%;
    }

    .proj {
        font-size: 0.5rem;
        letter-spacing: 0.02rem;
        margin-left: 8%;
    }
    
    .proj-title {
        font-size: 0.4rem;
        margin-left: 8%;
        margin-top: 1%;
        margin-bottom: 1%;
        letter-spacing: 0.02rem;
    }
    
    .proj-desc {
        font-size: 0.35rem;
        margin-left: 0%;
        letter-spacing: 0.01rem;
    }
    
    .proj-desc a {
        font-size: 0.35rem;
    }

    .work-exp {
        font-size: 0.5rem;
        letter-spacing: 0.02rem;
        margin-left: 8%;
    }
    
    .work-exp-detail {
        margin-left: 8%;
        line-height: 0.5rem;
    }
    
    .desg {
        font-size: 0.4rem;
        letter-spacing: 0.02rem;
    }
    
    .comp {
        font-size: 0.3rem;
        letter-spacing: 0.01rem;
    }

    .edu {
        font-size: 0.5rem;
        letter-spacing: 0.02rem;
        margin-left: 8%;
    }
    
    .edu-detail {
        margin-left: 8%;
        line-height: 0.5rem;
    }
    
    .degg {
        font-size: 0.4rem;
        letter-spacing: 0.02rem;
    }
    
    .univ {
        font-size: 0.3rem;
        letter-spacing: 0.01rem;
    }
}
